body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

table, tbody, tr, td, th {
    border: none;
}

table.dataframe {
    text-align: center;
    width: 90vw;
}

.dataframe th {
    padding: 10px;
}

.dataframe td {
    padding: 6px;
}

.dataframe td:first-child, .dataframe th {
    font-weight: bold;
}

.dataframe tr:nth-child(4n + 1) {
    background: rgba(0, 0, 0, 0.2);
}

.dataframe tr:hover, .dataframe tr.firstline {
    background: rgba(0, 0, 0, 0.3);
}
